<!-----Campo para crear un estudiante---->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <div>
    <div class="row">
      <h4>Ingrese los datos del estudiante</h4>
      <div class="col">
        <br>
        <input class="form-control" type="text" [(ngModel)]="nuevo_estudiante" placeholder="Nombre">
      </div>
      <div class="col">
        <br>
        <input class="form-control" type="text" [(ngModel)]="n_lastname" placeholder="Apellido">
      </div>
      <div class="col">
        <br>
        <input class="form-control" type="text" [(ngModel)]="n_correo" placeholder="Correo">
      </div>
      <div class="col">
        <br>
        <input class="form-control" type="text" [(ngModel)]="n_cc" placeholder="Cedula">
      </div>
      <div class="col">
        <br>
        <button class="btn btn-primary" (click)="crearEstudiante()">Crear</button>
      </div>
    </div>
  </div>
  <br>

  <br>

  <!-------Itera la variable global 'libros' y cada elemento lo
-- almacena en la variable 'objEstudiante'
-->
  <hr>
  <div>
    <div class="row">
      <div class="col">
        <h6>Nombre</h6>
      </div>
      <div class="col">
        <h6>Apellido</h6>
      </div>
      <div class="col">
        <h6>Correo</h6>
      </div>
      <div class="col">
        <h6>Cedula</h6>
      </div>
      <div class="col-4">
        <h6>ID</h6>
      </div>
    </div>
    <div class="row" *ngFor="let item of estudiantes">
      <div class="col">
        {{item.name}}
      </div>
      <div class="col">
        {{item.lastname}}
      </div>
      <div class="col">
        {{item.correo}}
      </div>
      <div class="col">
        {{item.cc}}
      </div>
      <div class="col">
        {{item.id}}
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="eliminarEstudiante(item)">Eliminar</button>
        <button class="btn btn-primary" (click)="consultarEstudiante(item)">Consultar</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>

  <!--notas-->
  <div class="row">
    <div class="col">
      <h4>Listado de notas</h4>
      <ul class="list-group">
        <li (click)="verNota(n)" class="list-group-item" *ngFor="let n of my_notes">{{n.id}}. {{n.title}}</li>
      </ul>
      <br>
      <a class="btn btn-primary" (click)="agregarNota()">Nueva nota</a>
    </div>
    <div class="col" *ngIf="show_form">
      <h4>Nueva nota</h4>
      <input class="form-control" type="text" placeholder="Titulo de la nota" [(ngModel)]="nota.title" />
      <textarea class="form-control" placeholder="Cuerpo de la nota" [(ngModel)]="nota.description"></textarea>
      <div class="row">
        <br>
        <div class="col">
          <a class="btn btn-danger" (click)="cancelar()">Cancelar</a>
        </div>
        <br>
        <div class="col">
          <a class="btn btn-primary" (click)="crearNota()">Guardar nota</a>
        </div>
      </div>
    </div>
  </div>
  <!--fin notas-->


  <!--Metodo consultar-->
  <hr>
  <div>
    <h2>Consultar</h2>
    {{name}}
    <br>
  {{lastname}}
    <br>
  {{correo}}
    <br>
  {{cc}}
    <br>
  {{id}}
  </div>
  <!-- Fin consultar-->
  <br>
  <br>
  <!--Metodo actualizar-->
  <hr>
  <div>
    <div>
      <div class="row">
        <h2>Actualizar</h2>
        <div class="col">
          <input  class="form-control" type="text" [(ngModel)]="name" placeholder="Nombre" id="a">
        </div>
        <div class="col">
          <input  class="form-control" type="text" [(ngModel)]="lastname" placeholder="Apellido"
  id="b">
        </div>
        <div class="col">
          <input class="form-control" type="text" [(ngModel)]="correo" placeholder="Correo"
  id="c">
        </div>
        <div class="col">
          <input class="form-control" type="text" [(ngModel)]="cc" placeholder="Cedula"
  id="d">
        </div>
        <div class="col">
          <input class="form-control" type="text" [(ngModel)]="id" placeholder="ID"
  id="e">
        </div>
        <br>
        <div class="col">
          <button class="btn btn-primary" (click)="actualizarEstudiante()">Actualizar</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<!--Fin metodo actualizar-->